#{extends 'main.html' /}
#{set title: 'Houston HQ' /}

<div id="bar-wrp">
    <div>
        <input id="search_string" type="text" placeholder="Адрес" />
        <div id="results"></div>
    </div>
</div>

<div id="map-wrp">
    <div id="map"></div>
</div>

<div id="popup" style="display: none">
    <a href="#" onclick="goHere();">Ехать сюда!</a>
</div>

<script>
    var searchController = new MapSearchController();
    var dataManager = new DataManager();
    var gpsMarker = null;
    var marker = null;
    var polyline = null;
    var routeFlag = false;

    var map = new L.Map('map', {center: new L.LatLng(50.45553, 30.52448), zoom: 10, zoomAnimation: false });

    function calculateRoute() {
        if (gpsMarker != null && marker != null && routeFlag) {
            var gpsLatlng = gpsMarker.getLatLng();
            var latlng = marker.getLatLng();
            searchController.calculateRoute(gpsLatlng.lng + "," + gpsLatlng.lat, latlng.lng + "," + latlng.lat, function(geometry) {
                if (polyline != null) {
                    map.removeLayer(polyline);
                }

                polyline = new L.Polyline(geometry, {
                    color: 'blue',
                    weight: 7,
                    opacity: 0.3,
                    smoothFactor: 1
                }).addTo(map);
            });
        }
        routeFlag = false;
    }

    function goHere() {
        if (marker == null)
            return;

        var latlng = marker.getLatLng();
        dataManager.setKey("destination", latlng.lat + "," + latlng.lng, function() {
            calculateRoute();
        });
        marker.closePopup();
    }

    $(document).ready(function() {
        var yandex = new L.Yandex();
        var yandexTraffic = new L.Yandex("null", {traffic: true, opacity: 0.5, overlay: true});
        var ggl = new L.Google();
        map.addLayer(yandex);
        map.addLayer(ggl);
        map.addControl(new L.Control.Layers({"Yandex": yandex, 'Google': ggl}, {"Traffic": yandexTraffic}));

        function setMarker(latlng) {
            if (marker == null) {
                marker = L.marker(latlng, {draggable: 'true'}).addTo(map);
                marker.bindPopup($('#popup').html());
            } else
                marker.setLatLng(latlng);

            marker.openPopup();
        }

        $('#search_string').enterKey(function () {
            searchController.search('Киев, ' + $(this).val(), function(data) {
                $('#results').html('');
                for (var i = 0; i < data.length; i++) {
                    $('#results').append('<div><a href="#" class="address" data-coordinate="' + data[i].geo + '">' + data[i].description + '</a></div>')
                }

                $('.address').click(function() {
                    var coordinates = $(this).attr('data-coordinate').split(' ');
                    setMarker(coordinates.reverse());
                    map.setView(marker.getLatLng(), 17);
                });
            });
        });

        map.on('click', function(e) {
            setMarker(e.latlng);
        });

        function requestGPS() {
            dataManager.getKey("gps", 0, function(data) {
                if (data.value) {
                    var coordinates = data.value.split(',');
                    if (!gpsMarker) {
                        gpsMarker = L.marker(coordinates).addTo(map);
                    } else
                        gpsMarker.setLatLng(coordinates);

                    calculateRoute();
                }

                setTimeout(requestGPS, 1000);
            });
        }

        setTimeout(requestGPS, 1000);
    });
</script>