#{extends 'main.html' /}
#{set title: 'Houston HQ' /}

<div id="bar-wrp">
    <div>
        <div id="search">
            <input id="search_string" type="text" placeholder="Адрес" />
            <div id="nearest_wrp">
                <a class="search_link" href="#" onclick="findNearest();" style="color: #cccccc">Ближайшие</a>
            </div>
        </div>
        <div id="results"></div>
    </div>
</div>

<div id="map-wrp">
    <div id="map"></div>
</div>

<div id="popup" style="display: none">
    <a href="#" onclick="goHere();">Ехать сюда!</a>
</div>

<script>
    var searchController = new MapSearchController();
    var dataManager = new DataManager();
    var geoHelper = new GeoHelper();

    var gpsMarker = null;
    var marker = null;
    var polyline = null;
    var routeFlag = false;

    var LeafIcon = L.Icon.extend({
        options: {
            iconUrl: '/public/images/gps_arrow.png',
            iconSize:     [30, 30],
            shadowSize:   [0, 0],
            iconAnchor:   [15, 15],
            shadowAnchor: [0, 0],
            popupAnchor:  [0, 0]
        }
    });

    var map = new L.Map('map', {center: new L.LatLng(50.45553, 30.52448), zoom: 10, zoomAnimation: false });

    function findNearest() {
        if (gpsMarker == null)
            return;

        var gpsLatlng = gpsMarker.getLatLng();
        searchController.findNearests(gpsLatlng, 10000, function(data) {
            $('#results').html('');
            data.sort(function(a, b) {
                return a.distance - b.distance;
            });

            for (var i = 0; i < data.length; i++) {
                if (!data[i].distance)
                    continue;
                $('#results').append('<div><a href="#" class="address" data-name="' +  data[i].name + '">' + data[i].name + '</a> ' + data[i].type + ' ~ ' + geoHelper.formatDistance(data[i].distance)  + '</div>')
            }

            $('.address').click(function() {
                $('#results').html('');
                $('#search_string').val($(this).attr('data-name'));

                var e = jQuery.Event("keypress");
                e.which = 13;
                e.keyCode = 13;
                $("#search_string").trigger(e);
            });
        })
    }

    function calculateRoute() {
        if (gpsMarker != null && marker != null && routeFlag) {
            routeFlag = false;

            var gpsLatlng = gpsMarker.getLatLng();
            var latlng = marker.getLatLng();
            searchController.calculateRoute(gpsLatlng.lng + "," + gpsLatlng.lat, latlng.lng + "," + latlng.lat, function(response) {
                if (polyline != null) {
                    map.removeLayer(polyline);
                }

                polyline = new L.Polyline(response.coordinates, {
                    color: 'blue',
                    weight: 7,
                    opacity: 0.4,
                    smoothFactor: 1
                }).addTo(map);
            });
        }
    }

    function goHere() {
        if (marker == null)
            return;

        var latlng = marker.getLatLng();
        dataManager.setKey("destination", latlng.lat + "," + latlng.lng, function() {
            routeFlag = true;
            calculateRoute();
        });
        marker.closePopup();
    }

    $(document).ready(function() {
        var yandex = new L.Yandex();
        var yandexSatellite = new L.Yandex('satellite');
        var yandexHybrid = new L.Yandex('hybrid');
        var yandexTraffic = new L.Yandex("null", {traffic: true, opacity: 0.5, overlay: true});
        var google = new L.Google('ROADMAP');
        var googleSatellite = new L.Google();
        map.addLayer(yandex);
        map.addControl(new L.Control.Layers({'Google карта': google, 'Google спутник': googleSatellite, 'Yandex карта': yandex, 'Yandex спутник': yandexSatellite, 'Yandex гибрид': yandexHybrid}, {"Traffic": yandexTraffic}));

        function setMarker(latlng) {
            if (marker == null) {
                marker = L.marker(latlng, {draggable: 'true'}).addTo(map);
                marker.bindPopup($('#popup').html());
            } else
                marker.setLatLng(latlng);
        }

        $('#search_string').enterKey(function () {
            var text = $(this).val();

            function doSearch() {
                searchController.search(text.replace(/,/g, ' '), function(data) {
                    $('#results').html('');
                    for (var i = 0; i < data.length; i++) {
                        $('#results').append('<div><a href="#" class="address" data-coordinate="' + data[i].geo + '">' + data[i].description + '</a></div>')
                    }

                    $('.address').click(function() {
                        var coordinates = $(this).attr('data-coordinate').split(' ');
                        setMarker(coordinates.reverse());
                        map.setView(marker.getLatLng(), 17);
                    });
                });
            }

            var latlng = geoHelper.parseCoordinate(text);
            if (latlng) {
                setMarker(latlng);
                marker.openPopup();
                map.setView(marker.getLatLng(), 17);
            } else {
                doSearch()
            }
        });

        map.on('click', function(e) {
            setMarker(e.latlng);
            marker.openPopup();
        });

        function requestGPS() {
            dataManager.getKey("gps", 0, function(data) {
                if (data.value) {
                    var coordinates = data.value.split(',');
                    if (!gpsMarker) {
                        var icon = new LeafIcon();
                        gpsMarker = L.rotatedMarker(coordinates, {weight: 7, radius: 7, color: 'red', icon: icon, angle: 0.0}).addTo(map);
                    } else
                        gpsMarker.setLatLng(coordinates);


                    dataManager.getKey("bearing", 0, function(data) {
                        if (!data.value) return;
                        gpsMarker.options.angle = Math.round(Number.parseFloat(data.value));
                    });

                    calculateRoute();

                    $('.search_link').css('color', 'green');
                }

                setTimeout(requestGPS, 1000);
            });
        }

        setTimeout(requestGPS, 1000);

        dataManager.getKey("destination", 0, function(data) {
            if (data.value) {
                var coordinates = data.value.split(',');
                setMarker(coordinates);

                routeFlag = true;
                calculateRoute();
            }
        });

        $(window).resize();
    });

    $(window).resize(function() {
        $('#results').css('height', ($(window).height() - $('#search').height() - 20) + 'px');
    });
</script>